<h1>Listing invites</h1>

<%= form_for Invite.new do |f| %>
  <%= f.email_field :email %>
  <%= f.submit "Invite" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Code</th>
      <th>Expires at</th>
    </tr>
  </thead>

  <tbody>
    <% @invites.each do |invite| %>
      <tr>
        <td><%= invite.email %></td>
        <td><%= invite.code %></td>
        <td><%= invite.expires_at %></td>
        <td><%= link_to 'Show', invite %></td>
        <td><%= link_to 'Edit', edit_invite_path(invite) %></td>
        <td><%= link_to 'Destroy', invite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invite', new_invite_path %>
